/* Main window container */
.container {
  margin: 5% 10% 0% 10%;
}

body {
  background-color: rgba(243, 236, 218, 1);
}

/* Page content is splitted into two, left and right */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

/* Main heading of the page */
.header {
  font-size: 54px;
  text-align: center;
  font-weight: bold;
  font-family: 'Tienne', serif;
  margin-bottom: 54px;
}

/* Sides styling -- Begin */
.left_side {
  width: 493px;
}

.right_side {
  margin-top: 49px;
  width: 493px;
}
/* Sides styling -- End */

.instruction {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  font-family: 'Tienne', serif;
}

.instruction_detail {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 60px;
}

.info_heading {
  text-align: left;
}

.entry_heading {
  font-family: 'Tienne', serif;
  font-size: 30px;
  font-weight: bold;
}

.label {
  font-size: 24px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  margin-bottom: 7px;
  margin-top: 19px;
}

input[type='text'], input[type='date'] {
  border: 2px rgba(105, 105, 105, 1) solid;
  width: 467px;
  height: 54px;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  padding-left: 20px;
  
}

.still_enrolled {
  display: flex;
  margin-top: 22px;
  margin-left: 20px;
}

.checkbox_label {
  margin-left: 17px;
}

input[type='checkbox'] {
  width: 22px;
  height: 22px;
  background-color: black;
}

input[type='checkbox']:checked {
  accent-color: black;
}

span{
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
}

.pesronal_info, .education_info, .work_info {
  margin-bottom: 179px;
}

button {
  float: right;
  width: 162px;
  height: 59px;
  background-color: white;
  border: 2px black solid;
  font-size: 26px;
  color: rgba(233, 191, 85, 1);
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.personal_entry, .education_entry, .work_entry {
  margin-bottom: 60px;
}

.entry_heading {
  font-family: 'Tienne', serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 24px;
}

.entry_label {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  flex: none;
}

.entry_output {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: 24px;
  text-align: justify;
}

.entries {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.icon, .footer-icon {
  width: 44px;
  height: 44px;
  margin-left: 20px;
  cursor: pointer;
}

.output-title {
  flex-direction: row;
}

.trash:hover {
  src: url('./red-trash.png');
}

.footer {
  height: 113px;
  background-color: #FFFFFF;
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Tienne', serif;
  font-size: 20px;
  font-weight: 200;
}

.footer-items {
  width: 100%;
  margin: 0 10% 0 10%;
  display: flex;
  align-self: center;
  justify-content: space-between
}

.footer-icon {
  width: 48px;
  height: 48px;
}

.copyright {
  display: flex;
  align-items: center;
}